<br>
<div class="1">
<div class="container">
    <div class="row align-items-center">
        <div class="col">
          
        </div>
        <div class="col" style="text-align: center"> 
          <h3>ขอบคุณที่ใช้</h3>
          <h3>บริการ</h3>
        </div>
        <div class="col">
          
        </div>
      </div>
</div>
</div>
<br>
<div class="2">
    
<div class="container">
    <div class="row align-items-center">
        <div class="col">
          
        </div>
        <div class="col" style="text-align: center"> 
            <button><h4>Exit</h4></button>
        </div>
        <div class="col">
          
        </div>
      </div>
</div>
</div>
<br>
<div class="3">
    
<div class="container">
    <div class="row align-items-center">
        <div class="col">
          
        </div>
        <div class="col">
            <div class="card" style="width: 20rem; align-self: auto;" >
                <img src="https://via.placeholder.com/30/09f/fff.png" class="card-img-top" alt="...">
                <div class="card-body" style="text-align: center">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go to page</a>
                </div>
              </div>
        </div>
        <div class="col">
          
        </div>
      </div>
</div>
</div>

