<mat-card style="background-color: #24272A">
<div class="1" style="color: white">
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8" style="text-align: center">
          <div class="form-group">
            <h2>ขอบคุณที่เเสดง</h2>
            <h3>ความคิดเห็น</h3>
          </div>
          <br>
          <div class="form-check">
          </div>
          <br><br>
          <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
              <h4>รางวัลที่ได้</h4>
            </div>
            <div class="col-sm">
            </div>
          </div>
          <br>
          <div class="row">
          <div class="col-sm">
            </div>
            <div class="col-sm">
                <img src="assets/Coupon 500x250-01.png" width="500" height=250>
            </div>
            <div class="col-sm">
            </div>
          </div>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
  <br>
</div>
<div style="text-align: center">
<a href="app-main"><button mat-button>Back</button></a>
</div>
</mat-card>