<br>
<div class="1" style="text-align: center">
  <h5>Username : <small>testUser</small></h5>
</div>
<br>
<div class="2" style="text-align: center">
  <h4>รายการที่ต้องส่ง</h4>
    <br>
        <hr>
            <div class="row">
              <div class="col">
              </div>
              <div class="col-10">
                  <table class="table table-light">
                      <thead>
                        <tr>
                          <th scope="col">ลำดับ</th>
                          <th scope="col">ผู้ใช้งาน</th>
                          <th scope="col">รายการ</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>เทพโอม</td>
                          <td>กระเพราหมูกรอบ</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>พี่อาร์ม</td>
                          <td>ไก่ไม่ใส่หมู</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Bird</td>
                          <td>ไก่อะไรก็ได้ไม่มีปีก</td>
                        </tr>
                      </tbody>
                    </table>
              </div>

              <div class="col">
                
              </div>
          </div>
</div>
<br>
<div class="3" style="text-align: center">
    <p><b>Map point</b></p>
    <img src="assets/map.jpg" width="700" height="400">
</div>
<br>