<br>
<br>
<br>
<div class="1" >
  <div class="card" style="background-color: #24272A">
    <div class="card-body">        
    <div class="text" style="text-align: center">
      <span>
        <h1>
          <font color ="#FFF">
            Discover
          </font> 
            &nbsp; 
          <font color = "#FF7F50">
            What's New
          </font>
        </h1>
      </span>  
      <br>  
      <span>
        <h1>
          <font color = "white">
            And 
          </font>
          <font color = "#FF7F50">
            Order
          </font> 
          <font color = "white">
            with Online
          </font>
        </h1>
      </span>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="1">
                  <figure class="snip0015">
                      <img src="../../assets/2880x2304-18-2.jpg" alt="sample38"/>
                      <figcaption>
                        <h2>
                          ผัดไทกุ้งสด
                        </h2>
                        <h2>
                          50 BATH
                        </h2>
                        <p>ร้านป้าวา ประตูน้ำ</p>
                        <a routerLink="/app-pre-order"></a>
                      </figcaption>			
                    </figure>
              </div>
          </div>
          <div class="col-sm-4">
                <div class="2">
                    <figure class="snip0015">
                      <img src="../../assets/2880x2304-40.jpg" alt="sample39"/>
                      <figcaption>
                        <h2>
                          ผัดไทสูตรพิเศษ
                        </h2>
                        <h2>
                          35 BATH
                        </h2>
                        <p>ร้านนายแมน อยุธยา</p>
                        <a routerLink="/app-pre-order"></a>
                      </figcaption>			
                    </figure>
              </div>
          </div>
          <div class="col-sm-4">
                <div class="2">
                    <figure class="snip0015">
                      <img src="../../assets/download (1).jpg" alt="sample39"/>
                      <figcaption>
                        <h2>
                          เบอร์เกอร์โคขุน
                        </h2>
                        <h2>
                          50 BATH
                        </h2>
                        <p>ร้านAwesome อารีย์</p>
                        <a routerLink="/app-pre-order"></a>
                      </figcaption>			
                    </figure>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="3">
              <figure class="snip0015">
                <img src="../../assets/2880x2304-40.jpg" alt="sample40"/>
                <figcaption>
                  <h2>
                    ผัดไทธรรมดา
                  </h2>
                  <h2>
                    30 BATH
                  </h2>
                  <p>ร้านนายแมน อยุธยา</p>
                  <a routerLink="/app-pre-order"></a>
                  </figcaption>			
              </figure>
            </div>
          </div>
          <div class="col-sm-4">
              <div class="4">
                  <figure class="snip0015">
                    <img src="../../assets/Food & Drink 040.jpg" alt="sample40"/>
                    <figcaption>
                      <h2>
                        ยำวุ้นเส้นแซ่บ
                      </h2>
                      <h2>
                        60 BATH
                      </h2>
                      <p>ร้านเผ็ดยำมันเด็ด อนุสาวรีย์</p>
                      <a routerLink="/app-pre-order"></a>
                    </figcaption>			
                  </figure>
              </div>
              
          </div>
          <div class="col-sm-4">
              <div class="5">
                <figure class="snip0015">
                  <img src="../../assets/ood.jpg" alt="sample40"/>
                  <figcaption>
                    <h2>
                      ข้าวอบรวมมิตร
                    </h2>
                    <h2>
                      90 BATH
                    </h2>
                    <p>ร้านHammer food รัชดา</p>
                    <a routerLink="/app-pre-order"></a>
                  </figcaption>			
                </figure>
            </div>
          </div>
          
      </div>
      <div class="col-sm-4">
          <div class="5">
            <figure class="snip0015">
              <img src="../../assets/ood.jpg" alt="sample40"/>
              <figcaption>
                <h2>If your <span>knees</span> aren't <span>green</span></h2>
                <p>By the end of the day, you ought to seriously re-examine your life.</p>
                <a href="#"></a>
              </figcaption>			
            </figure>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>