<br>
<mat-card style="background-color: #24272A;color: white">
<div style="text-align: center"> 
<h3>นายห้อย โภชนา</h3>
<p>ไก่ไม่หมู</p>

<div>
  <img src="assets/test1.png" width="700" height=250>
</div>

</div>
<div class="1">
    <div class="container">
          <div class="row">
            <div class="col order-last">
            
            </div>
              <div class="col-8" style="text-align: center">
                
                <br>
                <h3>Text Box</h3>
              <div class="container">
                <!--<form>-->
                    <div class="form-group">
                      <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
                    </div>

                    </div>
            </div>

            <div class="col order-first">
              
            </div>
          </div>
      </div>
</div>
<br>
<div class="container">
    <div class="row">
      <div class="col order-last">
        
      </div>

      <div class="col-8" style="text-align: center">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal" routerLink="/app-thankyou-review">Share</button>
      </div>

      <div class="col order-first">
        
      </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
      <div class="col order-last">
        
      </div>


      <div class="col order-first">
        
      </div>
    </div>
</div>
</mat-card>
<br>



