<div class="container" id="beforeBackground" style="background-color: #24272A">
  <br>
  <div class="container">
    <img class="img-fluid" src="../../assets/2880x2304-18-2.jpg" alt="Responsive image">
  </div>
  <br>
  <br>
  <div class="2">
    <div class="container">
        <div class="row">
          <div class="col">
            <h4>
              ผัดไทกุ้งสด
            </h4>
            <p>
              50 
              <b>
                BTH
              </b>
            </p>
          </div>
          <div class="col">
            <h4>
              ร้านป้าวา ประตูน้ำ
            </h4>
            <p>
              <b>
                Rating : 
              </b>
                5/10
            </p>
          </div>
        </div>
      </div>

  <div class="3">
    <div class="container">
        <div class="row">
          <div class="col">
            <a routerLink="{{ orderApi }}">
              <button class="btn btn-outline-warning" data-toggle="modal" data-target="#myModal">
                สั่งเลย
              </button>
            </a>
          </div>
        </div>
</div>
<br>
<br>
<div class="container">
    <table class="table">
        <tbody>
          <tr>
            <th scope="row">
              1
            </th>
            <td>
              <small>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </small>
            </td>
            <td>
              6/10
            </td>
          </tr>
          <tr>
              <th scope="row">2</th>
              <td>
                <small>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </small>
              </td>
              <td>
                3/10
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
                <td>
                  <small>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  </small>
                </td>
                <td>
                  5/10
                </td>
              </tr>
              <tr>
            <th scope="row">4</th>
            <td>
              <small>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </small>
            </td>
            <td>
              6/10
            </td>
          </tr>
          <tr>
              <th scope="row">5</th>
              <td>
                <small>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </small>
              </td>
              <td>
                3/10
              </td>
            </tr>
            <tr>
              <th scope="row">6</th>
                <td>
                  <small>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  </small>
                </td>
                <td>
                  5/10
                </td>
              </tr>
        </tbody>
      </table>
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #FF6600">
          <h4 class="modal-title" style="color: black">Order</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Background-->
        <div class="modal-body" id="background">
        
            <style type="text/css">
             #background { background: #24272A;} 
          
              div.img-resize img {
                width: 200px;
                height: auto;
              }
               .blocktext {
                  margin-left: auto;
                  margin-right: auto;
                  width: 6em
              }

              
              .pull-left {float:left;}
              .pull-right {float:right;}
              .text-center {text-align:center;}

              </style>
              <div class="row"></div>
            <div class="img-resize"><img src="../../assets/moopud.jpg" />
        
            
            </div>
              
         

            <p class=".pull-right ">ความคิดเห็นทั้งหมด(<font color ="#FF6600">290</font>)</p>
            <p> ความคิดเห็นล่าสุด (<font color ="#FF6600">11</font>) <p>
                <div class="text-center">
                    <span class="pull-left">sarah_69</span>
                    <span>อาหารอร่อยแต่น้อยไปหน่อย</span>
                    <span class="pull-right"><font color ="#FF6600">6.5</font></span>   
               </div>
               <br /> 
               <div class="text-center">
                  <span class="pull-left">Thanawat</span>
                  <span>ถ้าจะเด็ดขนาดนี้</span>
                  <span class="pull-right"><font color ="#FF6600">9.5</font></span>   
             </div>
             <br /> 
             <div class="text-center">
                <span class="pull-left">kransuda</span>
                <span>ช้ามากๆๆๆเรย</span>
                <span class="pull-right"><font color ="#FF6600">4.0</font></span>   
           </div>
           <br /> 
           <div class="text-center">
              <span class="pull-left">totoman</span>
              <span>เฉยๆ นะ!!</span>
              <span class="pull-right"><font color ="#FF6600">5.2</font></span>   
         </div>
         <br /> 
         <div class="text-center">
            <span class="pull-left">hackathon</span>
            <span>ถ้าจะเด็ดขนาดนี้</span>
            <span class="pull-right"><font color ="#FF6600">8.3</font></span>   
       </div>
       <br /> 
       <div class="text-center">
          <span class="pull-left">kokoro</span>
          <span>อาหารอร่อยแต่น้อยไปหน่อย</span>
          <span class="pull-right"><font color ="#FF6600">7.0</font></span>   
     </div>
                

       
          <!-- <img src="https://via.placeholder.com/150x150/09f/fff" > -->
          <!-- <p>รายการ : ข้าวผัดหมูกรอบ</p> -->
          <!-- <p>ราคา : 50 บาท</p>
          <p>ร้าน : นายฮ้อย</p> -->
        </div>
        <div class="modal-footer" style="background-color: #FF6600; color: black">
          <!--button type="button" class="btn btn-default" data-dismiss="modal">Buy</button>-->
          <!--a routerLink="{{ orderApi }}"><button data-toggle="modal" data-target="#myModal">สั่งเลย</button></a>-->
        <a href="/app-processing">
          <button type="button" class="btn btn-dark"> <!-- data-toggle="modal" data-target="#exampleModal" -->
              Submit
            </button>
        </a>
          <button class="btn btn-dark" type="button" >Close</button>
        </div>
        <!-- Modal2 -->
          
          <!-- Modal 
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel" style="color: black">Example</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="text-align: center">
                     <img src="https://via.placeholder.com/400x400" alt="">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  
                เชื่อมต่อ Facebook
                  <button type="button" class="btn btn-secondary">Share</button>
                -->
                </div>
              </div>
            </div>
          </div>


  </div>