<br>
<div class="1">
<div class="container">
    <div class="row">
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <img src="https://via.placeholder.com/250x400/09f/fff">
                
              </div>
            </div>
      </div>
      
      <div class="col-md-4 ml-auto" style="text-align: center">
          <p>ชื่อร้านอาหาร</p>  
        <div class="panel-body">
              <div class="list-group">
                  <a href="#" class="list-group-item">
                      <i class="fa fa-comment fa-fw"></i>รายการอาหาร
                      </a>
                          <a href="#" class="list-group-item">
                              <i class="fa fa-twitter fa-fw"></i>รายการอาหาร
                          </a>
                          
                          <a href="#" class="list-group-item">
                              <i class="fa fa-envelope fa-fw"></i> รายการอาหาร
                          </a>
                          <a href="#" class="list-group-item">
                              <i class="fa fa-tasks fa-fw"></i>รายการอาหาร
                          </a>
                          <a href="#" class="list-group-item">
                              <i class="fa fa-upload fa-fw"></i>รายการอาหาร
                          </a>
                          <a href="#" class="list-group-item">
                              <i class="fa fa-bolt fa-fw"></i>รายการอาหาร
                          </a>
                          <a href="#" class="list-group-item">
                              <i class="fa fa-warning fa-fw"></i>รายการอาหาร
                          </a>
                          <a href="#" class="list-group-item">
                              <i class="fa fa-shopping-cart fa-fw"></i>รายการอาหาร
                          </a>
                          <a href="#" class="list-group-item">
                              <i class="fa fa-money fa-fw"></i>รายการอาหาร
                          </a>
              </div>
              </div>
      </div>
</div>
</div>
<br>
<br>
<div class="2">
    <div class="container">
        <div class="row justify-content-start">
          <div class="col-4">
                            
                Start: <input type="date" name="bday">
                <input type="submit">

          </div>
          <div class="col-4">
                
                  Last: <input type="date" name="bday">
                  <input type="submit"> 

          </div>
        </div>
</div>
<br>
<br>
<div class="3">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">date</th>
            <th scope="col">Message</th>
            <th scope="col">foodList</th>
            <th scope="col">Ratting</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1/1/1111</td>
            <td><small>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. .</small></td>
            <td>Food</td>
            <td>9/10</td>
          </tr>
          <tr>
            <td>1/1/1111</td>
            <td><small>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </small></td>
            <td>Food</td>
            <td>7/10</td>
          </tr>
          <tr>
            <td>1/1/1111</td>
            <td><small>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</small></td>
            <td>Food</td>
            <td>1/10</td>
          </tr>
        </tbody>
      </table>
</div>